<li class = "burger list-group-item content-center">
	{{burger_name}}
    {{#if devoured}}
        <span class = "badge badge-pill" data-id = "{{burgerID}}" data-devour="{{devoured}}">Devoured</span>
    {{else}}
	    <button class="devourButton badge badge-pill" data-id="{{burgerID}}" data-devour="{{devoured}}">
            DEVOUR!
        </button>
    {{/if}}
</li>
